[submodule "sites/forza-gym"]
	path = sites/forza-gym
	url = https://github.com/matisaucedo/forza-gym
[submodule "sites/clarity-business"]
	path = sites/clarity-business
	url = https://github.com/matisaucedo/clarity-business
[submodule "sites/donortrack"]
	path = sites/donortrack
	url = https://github.com/matisaucedo/donortrack-landing
[submodule "sites/insights-hardware"]
	path = sites/insights-hardware
	url = https://github.com/matisaucedo/keyboard-site
